/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body{
    font-family: sans-serif;
}

h1{
    font-weight:normal;
    margin: 1em;
}

span{
    font-weight: bold;
}

/* utils */